.countdown_journal_container{
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}
.countdown_container{
    background-color: rgb(255, 255, 255);
    background: url('../images/bg6.jpg');
    background-size: cover;
    width: 98%;
    margin: auto;
    height: 45%;
}
.back_btn_container{
  background-color: #4f000000;
  width: 100px;
  float: left;
  padding: 10px;
}
  .countdown_container .back_button{
    color: #000000;
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 60px;
    font-weight: 400;
    margin:2px 0 2px 0;
  }
.bg_filter{
    background-color: rgba(0, 113, 21, 0.643);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.countdown_container h1{
    margin: auto;

    width: fit-content;
    background-color: rgba(250, 235, 215, 0);
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
#countdown{
    font-size: 70px;
    background-color: rgba(255, 255, 255, 0.806);
    width: fit-content;
    margin: auto;
    font-weight: 600;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: rgb(0, 0, 0);
}
.status-container {
    display: flex;
    align-items: center;
  }
  .status-container div {
    margin-left: 8px; /* Adjust this value as needed */
  }
  .status-container{
    background-color: rgba(0, 255, 255, 0);
    width: fit-content;
    margin: auto;
    margin-top: 5px;
  }
  .status-container span{
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .status-container #status{
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .countdown_container p{
    background-color: rgba(14, 29, 24, 0);
    width: fit-content;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: auto;
  }
  .button_container{
  
    background-color: rgba(0, 255, 255, 0);
    width: fit-content;
    margin: auto;
    margin-top: 5px;
  }
  .button_container .countdown_button{
    width: 150px;
    height: 45px;

    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 12px ;
    border-radius: 60px;
  }
  .button_container .countdown_button:hover{
    background-color: rgb(231, 231, 231);
    color: rgb(0, 0, 0);
  }


/***********************************************/
.journal_container{
    background-color: rgb(245, 245, 245);
    border: 5px solid rgb(20, 148, 0);
    width: 98%;
    margin: auto;
    margin-top: 5px;
    height: 50%
}
.journal_container h1{
   
    margin: auto;
    margin-top: 15px;
    width: fit-content;
}
.journal_container #journalForm{
    background-color: rgba(0, 255, 255, 0);
    width: fit-content;
    margin: auto;
}
.journal_input{
    width: 800px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 50px;
    font-size: 15px;
    padding: 5px;
}
.inputs_container{
    margin: auto;
    margin-top: 30px;
}

#journalForm label{
    font-size: 18px;
    font-weight: 600;
}
#journalForm button{
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  background: #004f0c;
  color: #ffffff;

}

#journalForm button:hover{
    background-color: rgb(0, 103, 29);

}
.journal_button_container{

    background-color: rgba(0, 255, 255, 0);
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*********************************************/
.journal_entries{
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
}
.journal_entry{
  border: 1px solid #8d8d8d;
 background-color: #ffffff;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 6px;
}
.journal_entry:hover{
  background-color: #f1f1f1;
}
.journal_entry p{
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}
.journal_entry p strong{
  font-size: 12px;
  font-weight: none;
}
.journal_display_top{
  position: fixed;
  background: #075300;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 40px;
}
.journal_display_top .top_content{
  display: flex;
}
.journal_display_top button{
  background-color: #ffffff;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 60px;
  padding: 0 10px 0 10px;
}
.journal_display_top button:hover{
  background-color: #e7e7e7;
}
.journal_display_top h1{
  text-align:center;
  color: #ffffff;
  background-color: rgba(0, 255, 30, 0);
  margin: auto;
}
.journal_entry_container{
  padding-top: 50px;
}
.delete_button{
  float: right;
  width: 35px;
  height: 30px;
}

.delete_button:hover{
  background-color: #075300;
  color: #ffffff;
}
/******************************************************/
@media only screen and (max-width: 768px) {
    .countdown_journal_container{
        font-family: 'Poppins', sans-serif;
        margin-top: 100px;
        background-color: rgb(255, 255, 255);
        height: 80vh;
    }
    .countdown_container{
        background-color: rgb(255, 255, 255);
        background: url('../images/bg6.jpg');
        background-size: cover;
        width: 98%;
        margin: auto;
        height: 45;
    }
    .bg_filter{
        background-color: rgba(0, 113, 21, 0.643);
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .back_btn_container{
      background-color: #4f000000;
      width: 200px;
      float: left;
      padding: 2px;
    }
      .countdown_container .back_button{
        color: #000000;
        width: 80px;
        height: 25px;
        background-color: #ffffff;
        border: none;
        border-radius: 60px;
        font-weight: bold;
        margin:2px 0 2px 0;
        font-size: 10;
        font-weight: 400;
      }

    .countdown_container h1{
        margin: auto;
        
        width: fit-content;
        background-color: rgba(41, 23, 0, 0);
        padding-top: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    #countdown{
        font-size: 45px;
        background-color: rgba(255, 255, 255, 0.806);
        width: fit-content;
        margin: auto;
        font-weight: 600;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        color: rgb(0, 0, 0);
    }
    .status-container {
        display: flex;
        align-items: center;
      }
      .status-container div {
        margin-left: 8px; /* Adjust this value as needed */
      }
      .status-container{
        background-color: rgba(0, 255, 255, 0);
        width: fit-content;
        margin: auto;
        margin-top: 5px;
      }
      .status-container span{
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
      }
      .status-container #status{
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: 600;
      }
      .countdown_container p{
        background-color: rgba(14, 29, 24, 0);
        width: fit-content;
        font-size: 10px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        margin: auto;
      }
      .button_container{
      
        background-color: rgba(0, 255, 255, 0);
        width: fit-content;
        margin: auto;
        margin-top: 10px;
      }
      .button_container .countdown_button{
        width: 100px;
        height: 40px;
    
        border: none;
        background-color: rgb(255, 255, 255);
        color: black;
        font-size: 10px ;
        border-radius: 10px;
      }
      .button_container .countdown_button:hover{
        background-color: rgb(231, 231, 231);
        color: rgb(0, 0, 0);
      }
    
    
    /***********************************************/
    .journal_container{
        background-color: rgb(245, 245, 245);
        border: 5px solid rgb(20, 148, 0);
        width: 98%;
        margin: auto;
        margin-top: 5px;
        height: 55%
    }
    .journal_container h1{
       
        margin: auto;
        margin-top: 15px;
        width: fit-content;
    }
    .journal_container #journalForm{
        background-color: rgba(0, 255, 255, 0);
        width: fit-content;
        margin: auto;
    }
    .journal_input{
        width: 95%;
        border: none;
        background-color: rgba(240, 248, 255, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        height: 50px;
        font-size: 20px;
        padding: 5px;
    }
    .inputs_container{
        margin: auto;
        margin-top: 30px;
    }
    
    #journalForm label{
        font-size: 18px;
        font-weight: 600;
    }
    #journalForm button{
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 20px;
      padding: 0 10px 0 10px;
      background: #004f0c;
      color: #ffffff;
    
    }
    
    #journalForm button:hover{
        background-color: rgb(231, 231, 231);
        color: rgb(0, 0, 0);
    }
    .journal_button_container{
    
        background-color: rgba(0, 255, 255, 0);
        width: fit-content;
        margin: auto;
        margin-top: 40px;
    }
    /******************************************/
    .journal_entries{
      margin-top: 100px;
      font-family: 'Poppins', sans-serif;
      background-color: #e0e0e0;
    }
    .journal_entry{
      border: 1px solid #8d8d8d;
     background-color: #ffffff;
      width: 90%;
      margin: auto;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 6px;
    }
    .journal_entry:hover{
      background-color: #f1f1f1;
    }
    .journal_entry p{
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
    }
    .journal_entry p strong{
      font-size: 12px;
      font-weight: none;
    }
    .journal_display_top{
      position: fixed;
      background: #075300;
      backdrop-filter: blur(20px);
      width: 100%;
      height: 40px;
    }
    .journal_display_top .top_content{
      display: flex;
    }
    .journal_display_top button{
      background-color: #ffffff;
      height: 30px;
      margin-top: 5px;
      margin-left: 10px;
      border-radius: 60px;
      padding: 0 10px 0 10px;
      float: left;

    }
    .journal_display_top button:hover{
      background-color: #e7e7e7;
    }
    .journal_display_top h1{
      text-align:center;
      color: #ffffff;
      background-color: rgba(0, 255, 30, 0);
      margin: none;
      padding-right: 100px;

    }
    .journal_entry_container{
      padding-top: 50px;
    }
    .delete_button{
      float: right;
      width: 35px;
      height: 30px;
    }
    
    .delete_button:hover{
      background-color: #075300;
      color: #ffffff;
    }
    

}