.selected_date_display_values{
    display: flex;

}
.selectdate_label{
    font-size: 20px;
    color: black;
}
.input_date, .date_button{
    background: #1deb9906;
    height: 30px;
    border: 3px outset #0b4f15;
    border-radius: 20px;
    padding: 10px;
}
.download_button{
    margin-left: 15px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    background: #0b4f15;
    color: #ffffff;
    
}
.download_button:hover{
    background: #106d1e;
}
.date_download_buttons{
    display: flex;
    width: fit-content;
    
    margin: auto;
    padding-top: 15px;
    background-color: #404c4700;
}
.selected_date_display_values{
    margin: 0 5px 20px 5px;
    color: #000000;

    border-bottom: 5px groove #0d9113;
    min-height: 70vh;
    
}
.selected_date_display_values p{
    margin: auto;
  padding-top: 200px;
  font-size: 25px;

}
.selected_date_display_values table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Adjust as needed */
}
.selected_date_display_values th {
    background-color: #085d00; /* Light gray background */
    padding: 8px;
    text-align: left;
    color: #ffffff;
}

.selected_date_display_values td {
    padding: 8px;
    text-align: left;

}

#displayData p {
    margin-top: 10px; /* Adjust as needed */
}

tr:nth-child(even) {
    background-color: #e0e0e0; /* Even row color */
}
tr:nth-child(odd) {
    background-color: #ffffff; /* Even row color */
}
.display_selecteddate_container{
    background: #ffffff;
    min-height: 82vh;
    height: auto;
    margin-top: 5px;
    padding-bottom: 5px;

}
.download_instruction{
    text-align: center;
    margin-top: 10px;
    font-size: 9px;
}

@media only screen and (max-width: 768px) {
    .selectdate_label{
        font-size: 15px;
        color: black;
    }
    .selected_date_display_values p{
        margin: auto;
      padding-top: 200px;
      font-size: 15px;
    
    }
    .selected_date_display_values th {
        background-color: #085d00; /* Light gray background */
        padding: 8px;
        text-align: left;
        color: #ffffff;
        font-size: 11px;
        font-weight: 400;
    }
    
.selected_date_display_values td {
    padding: 8px;
    text-align: left;
    font-size: 10px;
    

}
    

}