.nav-links {
  background-image: linear-gradient(to right top, #0f3705, #2d740c, #157e1e, #20980b);
  height: 100vh;
  width: 3%;
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s ease;
  float: left;
  position: fixed;
  z-index: 1;

}

.nav-links:hover {
  width: 175px;
  transition: none;

}
.nav-links:hover .link:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: all 0.5s ease; /* Smooth transition for opacity */
}
.link {
  padding: 30px 0 25px;
  display: flex;
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.nav-links .icon {
  display: block;

  margin-left: 10px;
  font-size: 20px;
}

.nav-links .text {
  display: none;
  opacity: 0;




}

.nav-links:hover .icon {
  opacity: 1;

}

.nav-links:hover .text {
  display: block;
  opacity: 1;
  margin-left: 5px;

}
