<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.aboutus_container{
  margin-top: 60px;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
  background: #00000000;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  margin:auto;
  width:80%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1a5d18;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgba(58, 58, 58, 0.723);
  font-size: 17px;
  font-weight: bold;

}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.about-section h1{
  color: rgb(246, 246, 47);
  padding-bottom: 15px;
  font-size: 30px;

}

.about-section p{
  padding-bottom: 30px;
}
.aboutus_container h2{
  margin-top: 20px;
  font-size: 30px;

  color: rgb(15, 80, 24);
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>
<div class="aboutus_container">
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>We are a dedicated team of students from the Mariano Marcos State University, specifically under the Department of Computer Engineering. Our team comprises passionate researchers and aspiring engineers who are committed to harnessing the power of technology to enhance agricultural practices. Our backgrounds in computer engineering have equipped us with the skills and knowledge necessary to develop innovative solutions that address real-world challenges.</p>
      <h1>Our Research</h1>
    <p>Our current research project is titled "Comparative Study of Peanut Production Using IoT Drip System and Sprinkler System." This study aims to explore and compare the efficiency and effectiveness of two different irrigation methods—drip irrigation and sprinkler irrigation—on peanut production. By integrating Internet of Things (IoT) technology into these systems, we seek to optimize water usage, improve crop yield, and contribute to more sustainable agricultural practices.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="./images/jerome.jpg" alt="jerome" style="width:100%">
        <div class="container">
          <h2>Jerome A. Lumbo</h2>
          <p class="title">software developer</p>
          <p>The programmer of the group</p>
          <p>jrmlumbo007@gmail.com</p>
         
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="./images/dale.jpg" alt="dale" style="width:100%">
        <div class="container">
          <h2>Dale Marc Bernardo</h2>
          <p class="title">Manager</p>
          <p>Manage the group to reach success</p>
          <p>dalemarc.dmb@gmail.com</p>
         
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="./images/rejie.jpg" alt="rejie" style="width:100%">
        <div class="container">
          <h2>Rejie Bagaoisan</h2>
          <p class="title">Hardware</p>
          <p>Helps in Building the hardware necessary in our study</p>
          <p>rejiebagaoisan7@gmail.com.com</p>
          
        </div>
      </div>
      
    </div>

  </div>

   <div class="row">
    <div class="column">
      <div class="card">
        <img src="./images/bryle.jpg" alt="bryle" style="width:100%">
        <div class="container">
          <h2>Eric Bryle Dela Rosa</h2>
          <p class="title">Hardware Developer</p>
          <p>Helps in Building the hardware necessary in our study</p>
          <p>bryledelarosa@gmail.com</p>
          
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="./images/luz.jpg" alt="stephen" style="width:100%">
        <div class="container">
          <h2>Stephen Jhon Luz</h2>
          <p class="title">Hardware Developer</p>
          <p>Helps in Building the hardware necessary in our study</p>
          <p>stephen@gmail.com</p>
         
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="./images/ruth.jpg" alt="ruth" style="width:100%">
        <div class="container">
          <h2>Ruthwine Tabua</h2>
          <p class="title">Data manager and hardware developer</p>
          <p>Records data and in charge of papers</p>
          <p>ruthwinnetabua@gmail.com</p>
         
        </div>
      </div>
      
    </div>

  </div>




</div>
</body>
</html>
