<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" href="/css/graph.css">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
     <script src="/src/graph.js"></script>
</head>
<body>
    <div class="full_graph_container">
      <div class="graph_container">
                  <div class="fullscreen_btn">
                    <a href="monitor_drip">
                        <button><i class="fas fa-expand-alt"></i></button>
                    </a>
                </div>
               
                <div class="graphs">
                    <canvas id="sensor1_graph" ></canvas>
                </div>
           </div>
    </div>
</body>
</html>