

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Home Page</title>

    <link rel="stylesheet" href="/css/home.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"  crossorigin="anonymous"></script>

</head>
<body class="home_body">
    <div class="home_maincontainer">
        <div class="home_container1">
            <div class="sub_container1">
            <ul class="text1">Comparative Study of Peanut Production Using <h1>IoT Drip Irrigation</h1> And <h1>Sprinkler System</h1></ul>
            <ul class="text2">This system is used for the monitoring of the sprinkler and drip sytem</ul>

            <div class="home_buttons">
                <a href="/monitor_drip">
                    <button><i class="fas fa-tint"></i> Monitor Drip</button></a>
                <a href="/monitor_sprinkler">
                    <button><i class="fas fa-tint"></i> Monitor Sprinkler</button></a>
            </div>
            </div>
        </div>
        <div class="home_container2">
            <div class="about_drip">
                <h1>About drip</h1>
                <ul>A drip irrigation system is a method of watering plants by delivering water directly to the base of each plant through a network of tubes, pipes, valves, and emitters. This system is designed to minimize water wastage and ensure that plants receive a consistent and controlled supply of water.</ul>

            </div>
            <div class="about_sprinkler">
                  <h1>About sprinkler</h1>
                  <ul>A sprinkler irrigation system is a method of irrigating crops, lawns, or gardens by distributing water through a system of pipes, pumps, and sprinklers. It mimics natural rainfall and is designed to evenly disperse water over a specified area.</ul>

            </div>

        </div>
    </div>
</body>
</html>
