<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
      <link rel="stylesheet" href="/css/monitor.css">
              <link rel="stylesheet" href="/css/monitor_mobile.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>journal</title>
   <script src="index.js"></script>

</head>
<body class="monitor_body">
          {{>nav_drip}}

    <div class="monitor_maincontainer">
       
          <form class="journal_container"action="/journal" method="post" onsubmit="convertCooldown()">
             <header class="monitor_header">Drip Control and monitoring</header>
            <div>
              <label for="input1">journal 1:</label>
              <input class="journal_input" type="text" id="input1" placeholder="Enter text" name="input1">
            </div>

            <div>
              <label for="input2">Journal 2:</label>
              <input class="journal_input"type="text" id="input2" placeholder="Enter text" name="input2">
            </div>


            <button type="submit" id="startCountdownBtn">save</button>
          </form>

           
    </div>
        


</body>





</html>
