
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/monitor.css">
    <link rel="stylesheet" href="/css/drip_nav.css">
        <link rel="stylesheet" href="/css/monitor_mobile.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"  crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
           <script src="/src/graph_sprinklerdata.js"></script>
            <script src="/src/graph_dripdata.js"></script>
    

 <script src="/src/fetch_dripdata.js"></script>
 <script src="/src/switch_sprinkler.js"></script>

<body class="monitor_body">
          {{>nav_sprinkler}}
       


    <div class="monitor_maincontainer">
           
            <div class="control_container">
                <header class="monitor_header">Sprinkler Control and monitoring</header>

                <div class="drip_control">
                    <div class="switch-container">
                        <div class="switch_content">                       
                            <div class="switch_label">Master Control</div>
                            <label >automated</label>
                            <input type="range" class="solenoid_switch" id="slider2" min="0" max="1" step="1" value="0" onchange="updateThingSpeak6()">
                            <label for="">Manual</label>
                            <div id="sliderValue2"></div>
                        </div>
                    </div>

                     <div class="switch-container">                       
                        <div class="switch_content">      
                            <div class="switch_label">Solenoid Control</div>
                            <label for="">off</label>
                            <input type="range" class="solenoid_switch"id="slider1" min="0" max="1" step="1" value="0" onchange="updateThingSpeak5()">
                            <label for="">on</label>
                            <div id="sliderValue1">0</div>
                         </div>
                         <div class="control_status">
                            <ul>Valve is: <span id="sprinkler_solenoidstatus"></span></ul>
                            <ul >as of: <span id="sprinkler_solenoidtimestamp"></span></ul>
                        </div>

                         
                    </div>

                   
                </div>
            </div>


            <div class="display_values_main">
                <div class="display_values_container1">
                    <div class="monitor_sensor">
                        <header class="monitor_mainlabel">Sensor readings as of:
                        <div class="sensor_date"><div id="drip_timestamp1"></div></div>   </header> 
                          <div class="display_values1">
                            <div class="sensor_data1"><i class="fas fa-sun"></i> Temperature <span id="air_temperature"></span></div>
                            <div class="sensor_data2"><i class="fas fa-tint"></i> Humidity <span id="air_humidity"></span></div>
                          
                        </div>
  
                    </div>
                </div>

                 <div class="display_values_container2">
                    <div class="monitor_sensor">
                        <header class="monitor_mainlabel">Sensor readings as of:
                        <div class="sensor_date"><div id="sprinkler_timestamp"></div></div>   </header> 
                          <div class="display_values2">

                            <div class="sensor_data3"> <i class="fas fa-bolt"></i> soil sensor 1 <span id="sprinkler_soilmoisture1"><div id="low_warning1"class="low_warning">low moisture</div></span></div>
                            <div class="sensor_data4"> <i class="fas fa-bolt"></i>soil sensor 2 <span id="sprinkler_soilmoisture2"></span><div id="low_warning1"class="low_warning">low moisture</div></div>
                            <div class="sensor_data5"> <i class="fas fa-bolt"></i>soil sensor 3 <span id="sprinkler_soilmoisture3"></span><div id="low_warning1"class="low_warning">low moisture</div></div>
                            <div class="sensor_data6"> <i class="fas fa-bolt"></i>soil sensor 4 <span id="sprinkler_soilmoisture4"></span></div>
                        </div>
  
                    </div>
                </div>



            </div>



                <div class="monitor_sensor">
                    
        
                    <div class="graph_container">
                      
                        
                    
                        <div class="graph1">
                            
                            <canvas id="air_graph" ></canvas>
                        </div>

                        <div class="graph2">
                           
                            <canvas id="sprinkler_graph" ></canvas>
                        </div>
                    </div>
                    
                </div>

                

                
               
          

           
        </div>
        


</body>
<script>
    function updateSoilMoistureClasses() {
        // Loop through each soil moisture sensor
        for (var i = 1; i <= 4; i++) {
            var soilMoisture = parseInt(document.getElementById("sprinkler_soilmoisture" + i).innerText);
            var element = document.getElementById("sprinkler_soilmoisture" + i);

            // Update classes based on current values
           if (soilMoisture <= 50) {
                    element.classList.add("dry_moisture");
                    element.classList.remove("wet_moisture");
                    element.classList.remove("black");
                    warningElement.style.display = "block";
                } else if (soilMoisture > 50) {
                    element.classList.add("wet_moisture");
                    element.classList.remove("dry_moisture");
                    element.classList.remove("black");
                    warningElement.style.display = "none";
                } else {
                    element.classList.add("black");
                    element.classList.remove("dry_moisture");
                    element.classList.remove("wet_moisture");
                    warningElement.style.display = "none";
                }
        }
    }

    // Call the function initially
    updateSoilMoistureClasses();

    // Update classes every 10 seconds
    setInterval(updateSoilMoistureClasses, 5000); // 10 seconds interval
</script>

</html>
