<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="top_bar.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"  crossorigin="anonymous"></script>

</head>
<body>

<nav class="login_topbar_nav">
    <div class="logo">
      <div class="image">
        <img src="./images/peanut_logo.png"></div>
      <div class="text">Drip/Sprinkler
      </div>
    </div>     
    
    <div class="navbar">
      <a href="home"><i class="fas fa-home"></i> <div class="text">Home</div></a>
      <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-digital-tachograph"></i> <i class="fa fa-caret-down"></i><div class="text">Monitor</div></button>

        <div class="dropdown-content">
          <a href="monitor_sprinkler">Sprinkler System</a>
          <a href="monitor_drip">Drip System</a>
        </div>
      </div>
      <a href="#news"><i class="fas fa-phone"></i> <div class="text">Contact Us</div></a>
      <a href="#news"><i class="fas fa-users"></i> <div class="text">About us</div></a>
      <a href="login"><i class="fas fa-power-off"></i><div class="text">Log Out</div></a>
    </div>
</nav>
