<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/drip_nav.css">
</head>
<body>
     <ul class="nav-links">
        
           <li class="center">
                <a href="monitor_sprinkler" class="link">
                    <div class="icon"><i class="fas fa-desktop"></i></div>
                    <div class="text">Countdown</div>
                </a>
    
            </li>
            
             <li class="center">
                <a href="journal" class="link">
                    <div class="icon"><i class="fas fa-book"></i></div>
                    <div class="text">Countdown</div>
                </a>
    
            </li>
            
             <li class="center">
                <a href="countdown" class="link">
                    <div class="icon"><i class="fas fa-clock"></i></div>
                    <div class="text">Countdown</div>
                </a>
    
            </li>
            
            <li class="center">
                <a href="drip_selectdate" class="link">
                    <div class="icon"><i class="fas fa-download"> </i></div>
                    <div class="text">Display/download</div>
                </a>
    
            </li>
        </ul>
</body>
</html>