<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Last Expected Date</title>
</head>
<style>
    body{
        margin-top: 90px;
    }
</style>
<body>
  <h1>Update Last Expected Date</h1>
  <label for="newDate">Enter new expected finish date:</label>
  <input type="datetime-local" id="newDate">
  <button onclick="updateLastExpectedDate()">Update Date</button>
  
  <script src="/src/update-date.js"></script>
</body>
</html>
