
.home_body {
    background: url('../images/home_bg.jpg');
    height: 100vh;
    background-size: cover;
    font-family: "Arial Narrow", sans-serif;
    overflow-y: scroll;
    padding-top: 60px;
    backdrop-filter: brightness(0.5);
}



.home_maincontainer .home_container1 {
    height: 100vh;
    width: 35%;
    position: fixed;

}

.home_maincontainer .home_container1 .home_buttons {

    margin: auto;
    width: fit-content;
}

.home_maincontainer .home_container1 .home_buttons button {
    border: none;
    padding: 13px 3px 13px 3px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #292929;
    width: 200px;
    height: 65px;
    transition: all 0.5s ease;
}

.home_maincontainer .home_container1 .home_buttons button:hover {
    background: #1deb99;
    color: #000000;
}

.home_maincontainer .home_container2 {
    height: 100vh;
    width: 60%;
    overflow-y: auto;
    margin-left: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */

}

.home_maincontainer .home_container1 .text1 {
    font-size: 60px;
    font-weight: 600;
    padding-left: 55px;
    padding-top: 65px;
    color: #fff;
}

.home_maincontainer .home_container1 .text1 h1 {
    color: #1deb99;
    font-size: 60px;
    font-weight: 600;
}

.home_maincontainer .home_container1 .text2 {
    padding-left: 55px;
    padding-top: 30px;
}
.about_drip, .about_sprinkler {
    height: 500px;
    width: 300px;
    margin: auto;
    padding: 25px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #ffffff78;
    background: #0000009a;
    text-align: justify;

}
.about_drip ul, .about_sprinkler ul{
    line-height: 1.5;
}
.about_drip h1, .about_sprinkler h1{
    color:#1deb99 ;
    padding-bottom: 20px;
}
