<!-- templates/layout/main.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include any common stylesheets, scripts, or meta tags here -->
</head>
<body>
     {{>nav_login}}
    {{{body}}} <!-- This will render the content specific to each page -->

     </head> <link rel="stylesheet" href="/css/top_bar.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"  crossorigin="anonymous"></script>
</body>
</html>